@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.suites_cards {
    @include mixins.flexbox(relative, flex, center, center);
    @include mixins.letter_large(3%, 'Refina', 65%);
    flex-direction: column;
    width: 100vw;
    padding: 0 5vw;
    margin-bottom: 15vmax;
    overflow: hidden;

    .row {
        @include mixins.flexbox(relative, flex, space-between, center);
        width: 100%;

        @include responsive.screen_laptop () {
            flex-direction: column;
        }

        .boxOne {
            @include mixins.flexbox(relative, flex, center, start);
            flex-direction: column;
            width: 40vw;
            height: 100%;
            padding-bottom: 8vmax;

            @include responsive.screen_laptop () {
                align-items: center;
                width: 100%;
                padding: 5vmax 0 8vmax 0;
            }

            h1 {
                width: 100%;
                font-family: var.$font_one;
                text-transform: uppercase;
                color: var.$primary_color;
            }

            p {
                width: 70%;
                margin: 2vmax 0 3vmax 0;
                font-family: var.$font_dwo;
                color: var.$black_gray;
                font-weight: 400;
                font-style: italic;
                line-height: 1.5;

                @include responsive.screen_laptop () {
                    width: 90%;
                    margin: 50px 0 10px 0;
                }
            }
        }

        .boxTwo {
            position: relative;
            width: 58vw;
            height: 110vh;

            @include responsive.screen_laptop () {
                width: 100%;
                height: 80vh;
            }

            .swiper {
                width: 100%;
                height: 100%;
                border-radius: 1vmax;

                .card {
                    @include mixins.flexbox(relative, flex, center, center);
                    @include mixins.smoke();
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    border-radius: 1vmax;
                    overflow: hidden;

                    h1 {
                        text-align: center;
                        font-family: var.$font_one;
                        text-transform: uppercase;
                        font-weight: 500;
                        color: var.$secondary_color;
                        user-select: none;
                        pointer-events: none;
                        z-index: 2;

                        @include responsive.screen_small () {
                            font-size: 55px;
                        }
                    }

                    img {
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        user-select: none;
                        pointer-events: none;
                        z-index: -1;
                    }
                }
            }
        }
    }
}