/*============================================================================*/

@-webkit-keyframes hourglass-spin {

    0%,
    10% {
        background-position: 0 90%;
    }

    40%,
    60% {
        background-position: 0 10%;
    }

    90%,
    100% {
        background-position: 0 -70%;
    }
}

@keyframes hourglass-spin {

    0%,
    10% {
        background-position: 0 90%;
    }

    40%,
    60% {
        background-position: 0 10%;
    }

    90%,
    100% {
        background-position: 0 -70%;
    }
}

@-webkit-keyframes hourglass-container-spin {

    0%,
    40% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    50%,
    90% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes hourglass-container-spin {

    0%,
    40% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    50%,
    90% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

/*============================================================================*/

@keyframes wipe-out-right {
    from {
        clip-path: inset(0 0 0 0);
    }

    to {
        clip-path: inset(0 0 0 100%);
    }
}

/*==============================================================================================*/

@keyframes girar_right {
    from {
        transform: rotate(0deg);
        /* rotação inicial */
    }

    to {
        transform: rotate(-360deg);
        /* rotação final */
    }
}

/* SLIDE DOS TEXTOS LINEARES */

@keyframes slider_linear {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*==============================================================================================*/

@keyframes botton {
    0% {
        top: 25%;
        opacity: 1;
    }

    50%{
        top: 75%;
        opacity: 0.5;
    }

    100% {
        top: 25%;
        opacity: 1;
    }
}