@charset "UTF-8";

@font-face {
    font-family: 'New Icon';
    src: url('/assets/font/new-icon/New-Icon-Script.ttf') format('opentype');
}

@font-face {
    font-family: 'Stolen Love';
    src: url('/assets/font/stolen-love/Stolen-Love-Light.otf') format('opentype');
}