@use '../sass/responsive';
@use '../sass/variables' as var;

@mixin background($height) {
    background: url('/assets/img/bg.webp') var.$secondary_color;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: $height;
}

@mixin flexbox($position, $flex, $centralization, $align) {
    position: $position;
    display: $flex;
    justify-content: $centralization;
    align-items: $align;
}

@mixin smoke() {
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var.$smoke;
        transition: var.$smooth;
        pointer-events: none;
    }
}

@mixin btn_closer() {
    flex-direction: column;
    width: 4vmax;
    height: 4vmax;
    background-color: var.$secondary_color;
    border-radius: 50%;
    padding: 0.2vmax;
    cursor: pointer;
    z-index: 9999;

    @include responsive.screen_laptop() {
        width: 70px;
        height: 70px;
    }

    @include responsive.screen_small() {
        width: 60px;
        height: 60px;
        padding: 10px;
    }

    span {
        position: relative;
        width: 90%;
        height: 0.2vw;
        margin: 0.3vmax;
        transition: var.$smooth;
        border-radius: 10px;
        background-color: var.$primary_color;

        &:nth-child(1) {
            width: 50%;
        }

        &:nth-child(3) {
            width: 60%;
        }

        @include responsive.screen_laptop() {
            height: 3px;
        }
    }

    &:hover span {
        width: 90%;
        transition: var.$smooth;
    }

    .open {
        &:nth-child(1) {
            transform: rotate(45deg) translate(0.55vmax, 0.55vmax);
            width: 80%;
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg) translate(0.55vmax, -0.55vmax);
            width: 80%;
        }
    }
}

@mixin effect_btn () {

    a {
        font-family: var.$font_dwo;
        font-size: 1.1vmax;
        font-weight: 500;
        text-transform: uppercase;
        color: var.$primary_color;
        transition: var.$smooth;
        padding: 0.8vmax 1.5vmax;
        text-align: center;
        z-index: 1;

        @include responsive.screen_laptop() {
            font-size: 20px;
        }

        @include responsive.screen_small() {
            font-size: 15px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        background: var.$primary_color;
        transition: var.$smooth;
    }

    &:hover {
        &::after {
            top: auto;
            bottom: 0;
            height: 100%;
        }

        a {
            color: var.$secondary_color;
        }
    }
}

@mixin letter_large($left, $content, $top) {
    &::after {
        position: absolute;
        content: $content;
        top: $top;
        left: $left;
        color: var.$primary_color;
        opacity: .04;
        font-size: 15vmax;
        pointer-events: none;
        font-family: var.$font_one;
        text-transform: capitalize;
        border-bottom: 0.1vw solid var.$primary_color;
        z-index: -2;
    }
}