$new_icon: 'New icon';

$font_one: 'Stolen Love';

$font_dwo: 'Montserrat';

$smooth: 0.3s ease;

$smooth_opacity: opacity 0.3s ease, transform 0.3s ease;

$smooth_cubic: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

$primary_color: #012d37;

$bar: rgba(255, 255, 255, 0.2);

$secondary_color: #f2f2f2;

$black_gray: #38332d;

$smoke: #00000055;

$smoke_dwo: #000000d1;