$new_icon: 'New icon';

$font_one: 'Stolen Love';

$font_dwo: 'Montserrat';

$smooth: 0.3s ease;

$smooth_opacity: opacity 0.3s ease, transform 0.3s ease;

$smooth_cubic: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

$primary_color: #003d2e;

$secondary_color: #E8E5E5;

$black_gray: #38332d;

$smoke_text_linear: #003d2e11;

$smoke: #0000007e;

$smoke_dwo: #000000d1;