$new_icon: 'New icon';

$montserrat: 'Montserrat';

$smooth: 0.3s ease;

$smooth_cubic: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

$primary_color: #003d2e;

$secondary_color: #e8e3d0;

$smoke: #00000083;