@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.svg {
    position: absolute;
    top: -10%;
    left: 80%;
    user-select: none;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 3;
    transform: scale(2);

    @include responsive.screen_laptop {
        display: none !important;
    }

    svg {
        animation: girar_right 30s linear infinite;
        animation-play-state: paused;
        will-change: transform;
        color: var.$secondary_color;
        pointer-events: none;

        textPath {
            font-size: 2.1vmax;
            font-weight: bold;
            text-transform: uppercase;
            word-spacing: 0.5vmax;
            font-family: var.$font_one;

            @include responsive.screen_large {
                font-size: 25px;
            }
        }
    }
}