@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.svg {
    position: absolute;
    top: 85%;
    left: 52%;
    transform: translate(-50%, -50%);
    user-select: none;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: -1;
    opacity: 0.8;

    @include responsive.screen_laptop {
        top: 40%;
        left: 85%;
    }

    @include responsive.screen_small {
        top: 54%;
        left: 50%;
        transform: scale(0.7);
    }

    svg {
        animation: girar_right 30s linear infinite;
        will-change: transform;
        color: var.$secondary_color;
        pointer-events: none;

        textPath {
            font-size: 2.1vmax;
            font-weight: bold;
            text-transform: uppercase;
            word-spacing: 1vmax;
            font-family: var.$font_one;
            color: var.$black_gray;

            @include responsive.screen_large {
                font-size: 25px;
            }
        }
    }
}