@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.bio_container {
    @include mixins.flexbox(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    height: 110vh;

    @include responsive.screen_small() {
        height: auto;
        margin: 130px 0;
    }

    h1 {
        color: var.$primary_color;
        text-align: center;
        width: 60%;
        font-family: var.$font_one;
        text-transform: uppercase;

        @include responsive.screen_laptop() {
            width: 70%;
        }

        @include responsive.screen_small() {
            width: 90%;
            padding: 0 15px;
        }
    }

    p {
        margin: 7vh 0;
        font-family: var.$font_dwo;
        font-weight: 300;
        color: var.$black_gray;
        width: 50%;
        text-align: center;
        line-height: 1.3;

        @include responsive.screen_laptop() {
            width: 70%;
        }
    }

    .btn {
        @include mixins.flexbox(relative, flex, center, center);
        @include mixins.effect_btn();
        border: 0.1vw solid var.$primary_color;
        cursor: pointer;
        overflow: hidden;
    }
}