@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.video_container {
    @include mixins.flexbox(relative, flex, space-between, center);
    width: 100vw;
    height: 115vh;
    padding: 0 5vw;

    @include responsive.screen_laptop() {
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .box_video {
        @include mixins.flexbox(relative, flex, center, center);
        @include mixins.smoke();
        width: 40vw;
        height: 100%;
        overflow: hidden;
        cursor: pointer;

        @include responsive.screen_laptop() {
            width: 90%;
            margin: 50px 0;
        }

        svg {
            position: absolute;
            width: 10vw;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var.$secondary_color;
            z-index: 1;

            @include responsive.screen_small() {
                width: 80px;
            }
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include responsive.screen_laptop() {
                width: 100%;
                height: 90vh;
            }

            @include responsive.screen_small() {
                height: 80vh;
            }
        }
    }

    .box_text {
        @include mixins.flexbox(relative, flex, center, center);
        flex-direction: column;
        width: 40vw;
        height: inherit;

        @include responsive.screen_laptop() {
            width: 100%;
            height: 100vh;
        }

        @include responsive.screen_small() {
            height: auto;
            margin: 40px 0;
            padding: 0;
        }

        h1 {
            width: 100%;
            margin-bottom: 2vmax;
            font-family: var.$font_one;
            text-transform: uppercase;
            color: var.$primary_color;

            @include responsive.screen_laptop() {
                width: 90%;
                margin: 70px 0;
            }

            @include responsive.screen_small() {
                width: 85%;
            }
        }

        span {
            width: 80%;
            font-family: var.$font_dwo;
            font-weight: 500;
            color: var.$black_gray;
            font-size: 1.5vmax;
            word-spacing: 1px;

            @include responsive.screen_laptop() {
                font-size: 20px;
            }

            @include responsive.screen_small() {
                font-size: 18px;
            }
        }

        p {
            width: 80%;
            margin: 2vmax 0;
            font-family: var.$font_dwo;
            font-weight: 400;
            color: var.$black_gray;
            font-style: italic;
            line-height: 1.5;

            @include responsive.screen_laptop() {
                margin: 30px 0;
            }
        }

        .box_detals {
            @include mixins.flexbox(relative, flex, space-around, center);
            width: inherit;
            top: 3vmax;

            @include responsive.screen_laptop() {
                top: 0;
                margin: 50px 0;
            }

            @include responsive.screen_small() {
                width: 90%;
                margin: 30px 0 0 0;
            }

            i {
                font-size: 1.7vmax;
                font-weight: 600;
                text-transform: uppercase;
                font-family: var.$font_one;
                font-style: normal;

                @include responsive.screen_laptop() {
                    font-size: 25px;
                }

                @include responsive.screen_small() {
                    font-size: 20px;
                    margin: 7px;
                }
            }
        }
    }
}