@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.package_container {
    @include mixins.flexbox(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    padding: 0 3vw;
    margin-bottom: 10vmax;
    overflow: hidden;

    @include responsive.screen_small() {
        padding: 0 5vw;
    }

    .row {
        @include mixins.flexbox(relative, flex, space-between, start);
        width: 100%;
        height: 100%;

        @include responsive.screen_small () {
            flex-direction: column;
            margin-top: 15px;
        }

        .boxOne,
        .boxTwo {
            position: relative;
            width: 45vw;
            
            height: 100%;

            @include responsive.screen_small () {
                width: 100%;
            }

            .boxImg {
                @include mixins.smoke();
                position: relative;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                animation: pan-x 75s both infinite;
                will-change: transform;
                border-radius: 1vmax;
                width: 100%;
                height: 70vh;
                overflow: hidden;
            }

            .boxInfor {
                @include mixins.flexbox(relative, flex, start, start);
                flex-direction: column;
                margin: 3.5vmax 0 0 0;

                @include responsive.screen_laptop () {
                    align-items: center;
                }

                @include responsive.screen_small () {
                    margin: 70px 15px;
                }

                h2 {
                    font-family: var.$font_one;
                    font-size: 2vmax;
                    color: var.$black_gray;
                    font-weight: 700;
                    word-spacing: 3px;
                    text-transform: uppercase;

                    @include responsive.screen_laptop () {
                        font-size: 30px;
                    }
                }

                p {
                    margin: 2.5vmax 0;
                    font-family: var.$font_dwo;
                    color: var.$black_gray;
                    font-weight: 400;
                    line-height: 1.5;

                    @include responsive.screen_small () {
                        font-size: 18px;
                    }
                }

                ul {
                    padding-left: 2vmax;
                    margin-bottom: 3vmax;

                    @include responsive.screen_small () {
                        margin: 30px 0;
                    }

                    li {
                        font-family: var.$font_dwo;
                        color: var.$black_gray;
                        font-weight: 400;
                        font-size: 1.1vmax;
                        margin: 1.2vmax 0;
                        list-style: circle;

                        @include responsive.screen_laptop () {
                            margin: 15px 0;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}