@use '/src/sass/responsive';
@use '/src/sass/mixins';

.galleryExp_container {
    @include mixins.flexbox(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    padding: 0 3vw;

    @include responsive.screen_small() {
        padding: 0 5vw;
    }
}