@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.services_container {
    @include mixins.flexbox(relative, flex, space-evenly, center);
    flex-direction: column;
    width: 100vw;
    padding: 0 5vw;
    overflow: hidden;

    .layerOne,
    .layerTwo,
    .layerThere {
        @include mixins.flexbox(relative, flex, space-between, center);
        width: 100%;
        height: 120vh;
        margin-bottom: 10vmax;

        @include responsive.screen_laptop () {
            height: auto;
        }

        @include responsive.screen_small () {
            margin: 0;
        }

        .boxOne {
            @include mixins.flexbox(relative, flex, space-between, center);
            width: 45%;
            height: 100%;

            .context {
                flex-direction: column;
                width: 95%;
                margin-bottom: 10vmax;
            }

            h1 {
                width: 100%;
                margin-top: 2vmax;
                font-family: var.$font_one;
                text-transform: uppercase;
                color: var.$primary_color;
            }

            p {
                margin: 2vmax 0 3vmax 0;
                font-family: var.$font_dwo;
                color: var.$black_gray;
                font-weight: 400;
                font-style: italic;
                line-height: 1.5;

                @include responsive.screen_laptop () {
                    margin: 50px 0 70px 0;
                }

                @include responsive.screen_small () {
                    margin: 50px 0;
                }
            }
        }

        .boxTwo {
            @include mixins.flexbox(relative, flex, center, center);
            @include mixins.smoke();
            width: 45%;
            height: 120vh;
            user-select: none;
            overflow: hidden;
            animation: pan-y 120s both infinite;
            will-change: transform;

            @include responsive.screen_laptop () {
                width: 100%;
                height: 80vh;
                animation: pan-y 240s both infinite;
            }
        }
    }

    .layerOne {
        @include mixins.letter_large(50%, 'aprecie', 65%);
    }

    .layerThere {
        @include mixins.letter_large(50%, 'Desfrute', 65%);
    }

    .layerOne,
    .layerThere {
        flex-direction: row-reverse;

        @include responsive.screen_laptop () {
            width: 100%;
            flex-direction: column;
        }

        .boxOne {
            @include responsive.screen_laptop () {
                width: 100%;
            }

            .context {
                @include mixins.flexbox(relative, flex, space-between, end);

                @include responsive.screen_laptop () {
                    width: 100%;
                    align-items: center;
                    margin: 70px 0;
                }

                h1 {
                    text-align: end;

                    @include responsive.screen_laptop() {
                        text-align: start;
                    }
                }

                p {
                    text-align: end;

                    @include responsive.screen_laptop () {
                        width: 90%;
                        text-align: start;
                    }
                }
            }
        }
    }

    .layerTwo {
        @include mixins.letter_large(0, 'saboreie', 65%);
        flex-direction: row;

        @include responsive.screen_laptop () {
            width: 100%;
            flex-direction: column;
        }

        .boxOne {
            @include responsive.screen_laptop () {
                width: 100%;
            }

            .context {
                @include mixins.flexbox(relative, flex, space-between, start);

                @include responsive.screen_laptop () {
                    width: 100%;
                    align-items: center;
                    margin: 70px 0;
                }

                p {
                    @include responsive.screen_laptop () {
                        width: 90%;
                    }
                }
            }
        }
    }
}