@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.serv_container {
    @include mixins.flexbox(relative, flex, space-between, center);
    flex-wrap: wrap;
    width: 100vw;

    overflow: hidden;

    // margin: 10vmax 0;

    .tittle {
        @include mixins.flexbox(relative, flex, center, center);
        flex-direction: column;
        width: 100vw;
        height: 110vh;

        @include responsive.screen_small() {
            height: auto;
            margin: 130px 0;
        }

        h1 {
            font-size: 4vmax;
            color: var.$primary_color;
            text-align: center;
            width: 60%;
            font-family: var.$font_one;
            text-transform: uppercase;

            @include responsive.screen_laptop() {
                font-size: 45px;
                width: 70%;
            }

            @include responsive.screen_small() {
                width: 90%;
                font-size: 30px;
                padding: 0 15px;
            }
        }

        p {
            margin: 7vh 0;
            font-family: var.$font_dwo;
            font-size: 1.3vmax;
            font-weight: 300;
            color: var.$black_gray;
            width: 50%;
            text-align: center;
            line-height: 1.3;

            @include responsive.screen_laptop() {
                font-size: 20px;
                width: 70%;
            }

            @include responsive.screen_small() {
                font-size: 15px;
            }
        }

        .btn {
            @include mixins.flexbox(relative, flex, center, center);
            @include mixins.effect_btn();
            border: 0.1vw solid var.$primary_color;
            cursor: pointer;
            overflow: hidden;

            a {
                font-family: var.$font_dwo;
                font-size: 1.1vmax;
                font-weight: 500;
                text-transform: uppercase;
                color: var.$primary_color;
                transition: var.$smooth;
                padding: 0.8vmax 1.5vmax;
                text-align: center;
                z-index: 1;

                @include responsive.screen_laptop() {
                    font-size: 20px;
                }

                @include responsive.screen_small() {
                    font-size: 15px;
                }
            }
        }
    }


    .box {
        @include mixins.flexbox(relative, flex, center, center);
        @include mixins.smoke();
        flex-direction: column;
        width: 30vw;
        height: 110vh;
        overflow: hidden;

        .bg {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
            z-index: -1;
            transform: scale(1.1);
            transition: 0.5s ease;
        }

        &:hover {
            .bg {
                transform: scale(1);
                transition: 0.5s ease;
                filter: blur(5px);
            }

        }

        .box_logo {
            @include mixins.flexbox(relative, flex, center, center);
            width: 20vmax;
            height: 25vmax;
            z-index: 2;

            a {
                font-family: var.$font_one;
                font-size: 5vmax;
                font-weight: 500;
                text-transform: uppercase;
                color: var.$secondary_color;
                transition: var.$smooth;
                // padding: 0.8vmax 1.5vmax;
                text-align: center;
                z-index: 1;
                cursor: pointer;
            }

            /*
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;

            }*/
        }


        .btn_services {
            @include mixins.flexbox(absolute, flex, center, center);
            @include mixins.effect_btn();
            transform: translateY(30vh);
            border: 0.1vw solid var.$secondary_color;
            transition: var.$smooth;
            overflow: hidden;
            opacity: 0;
            z-index: 2;
            cursor: pointer;

            a {
                font-family: var.$font_dwo;
                font-size: 1.1vmax;
                font-weight: 500;
                text-transform: uppercase;
                color: var.$secondary_color;
                transition: var.$smooth;
                padding: 0.8vmax 1.5vmax;
                text-align: center;
                z-index: 1;
            }
        }

        &:hover {
            .btn_services {
                transform: translateY(20vh);
                opacity: 1;
                transition: var.$smooth;
            }
        }

        p {
            width: 70%;
            font-size: 1.2vmax;
            font-family: var.$font_dwo;
            color: var.$secondary_color;
            font-weight: 400;
            text-align: center;
            z-index: 2;

            opacity: 0;
        }


    }
}