@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.icons_container {
    @include mixins.flexbox(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    padding: 0 5vw;
    margin-bottom: 2vmax;

    @include responsive.screen_laptop () {
        margin: 80px 0 50px 0;
    }

    h1 {
        width: 100%;
        font-family: var.$font_one;
        font-size: 3vmax;
        color: var.$black_gray;

        @include responsive.screen_laptop () {
            font-size: 40px;
        }
    }

    p {
        width: 100%;
        margin: 0.9vmax;
        font-family: var.$font_dwo;
        color: var.$black_gray;
        font-weight: 400;
        line-height: 1.5;

        @include responsive.screen_small() {
            margin-top: 15px;
        }
    }

    .icons {
        @include mixins.flexbox(relative, flex, space-between, center);
        flex-wrap: wrap;
        width: 100%;
        margin: 3vmax 0;
        user-select: none;

        @include responsive.screen_laptop () {
            justify-content: space-evenly;
        }

        .item {
            @include mixins.flexbox(relative, flex, space-evenly, center);
            flex-direction: column;
            width: 18vmax;
            height: 10vmax;
            border: 0.1vw solid var.$black_gray;

            @include responsive.screen_laptop () {
                width: 180px;
                height: 120px;
                border: none;
            }

            @include responsive.screen_small() {
                width: 110px;
            }

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    border-top: none;
                    border-left: none;

                    @if $i ==5 {
                        border-right: none;
                    }

                    @if $i >=6 {
                        border-bottom: none;
                    }

                    @if $i ==10 {
                        border: none;
                    }
                }
            }

            .icon_img {
                width: 1.9vmax;

                @include responsive.screen_laptop () {
                    width: 40px;
                }

                @include responsive.screen_small() {
                    width: 35px;
                }
            }

            .icon_name {
                font-family: var.$font_dwo;
                font-size: 0.9vmax;
                color: var.$black_gray;
                font-weight: 500;
                font-style: normal;
                text-align: center;

                @include responsive.screen_laptop () {
                    font-size: 12px;
                }
            }
        }
    }
}