@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.banners_container {
    @include mixins.flexbox(relative, flex, center, center);
    @include mixins.smoke();
    width: 100vw;
    height: 100lvh;
    user-select: none;
    overflow: hidden;
    animation: pan-x 120s both infinite;
    will-change: transform;

    @include responsive.screen_laptop () {
        animation: pan-y 120s both infinite;
    }
}