@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.offers_container {
    @include mixins.flexbox(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    padding: 0 3vw;
    margin-bottom: 10vmax;
    background-color: var.$primary_color;
    overflow: hidden;

    @include responsive.screen_small() {
        padding: 0 5vw;
    }

    h1,
    h2 {
        font-family: var.$font_one;
        text-transform: uppercase;
        color: var.$secondary_color;
        opacity: 0.9;
        transition: var.$smooth;
        will-change: transform;
    }

    p {
        font-family: var.$font_dwo;
        color: var.$secondary_color;
        font-weight: 400;
        opacity: 0.9;
    }

    .title {
        @include mixins.flexbox(relative, flex, center, center);
        flex-direction: column;
        width: 100%;
        margin: 12vmax 0 5vmax 0;

        h1 {
            text-align: center;
            margin-bottom: 2vmax;
        }

        p {
            width: 60%;
            text-align: center;
            font-style: italic;
            line-height: 1.5;

            @include responsive.screen_small () {
                width: 100%;
            }
        }

        &::after {
            position: absolute;
            content: 'F';
            top: 55%;
            left: 20%;
            transform: translate(-50%, -50%);
            color: transparent;
            -webkit-text-stroke: 0.1vw var.$secondary_color;
            opacity: .1;
            font-size: 22vmax;
            pointer-events: none;
            user-select: none;
            font-family: var.$new_icon;

            @include responsive.screen_small() {
                left: 15%;
                -webkit-text-stroke: 2px var.$secondary_color;
            }
        }
    }

    .row {
        @include mixins.flexbox(relative, flex, center, center);
        flex-direction: column;
        width: 100%;
        margin: 5vmax 0 10vmax 0;

        .list {
            position: relative;
            width: 100%;
            padding: 3vmax 0;
            border-top: 0.1vw solid var.$border;

            .ol {
                height: 4vmax;
                margin-bottom: 1vmax;
                overflow: hidden;

                @include responsive.screen_laptop() {
                    height: 40px;
                }
            }

            img {
                position: absolute;
                top: -60%;
                left: 65%;
                width: 25vw;
                height: 25vw;
                border-radius: 1vmax;
                object-fit: cover;
                transform: translateY(50%) rotate(35deg);
                transition: var.$smooth;
                opacity: 0;
                pointer-events: none;

                @include responsive.screen_small() {
                    display: none;
                }
            }

            &:last-child {
                border-bottom: 0.1vw solid var.$border;
            }

            &:hover {
                img {
                    transform: translateY(0) rotate(0);
                    transition: var.$smooth;
                    opacity: 1;
                    z-index: 2;
                }

                .ol {
                    h2 {
                        transform: translateY(-100%);
                        transition: var.$smooth;
                    }
                }
            }
        }
    }
}