@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.roons_container {
    @include mixins.flexbox(relative, flex, space-between, center);
    @include mixins.letter_large(1%, 'suites');
    width: 100vw;
    height: 110vh;
    margin: 20vmax 0 15vmax 0;
    overflow: hidden;

    @include responsive.screen_laptop() {
        flex-direction: column;
        height: auto;
        margin-top: 5vmax;
    }

    @include responsive.screen_small() {
        margin-top: 100px;
    }

    .infor {
        @include mixins.flexbox(relative, flex, center, normal);
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-left: 5.5vmax;

        @include responsive.screen_laptop () {
            align-items: center;
            padding: 0;
            margin-bottom: 10vmax;
        }

        @include responsive.screen_small () {
            height: auto;
            margin-bottom: 100px;
        }

        h1 {
            width: inherit;
            margin: 2vmax 0 3vmax 0;
            font-family: var.$font_one;
            text-transform: uppercase;
            color: var.$primary_color;

            @include responsive.screen_laptop () {
                padding-left: 100px;
            }

            @include responsive.screen_small () {
                padding-left: 30px;
            }
        }

        p {
            width: 70%;
            font-family: var.$font_dwo;
            color: var.$black_gray;
            font-weight: 400;
            font-style: italic;

            @include responsive.screen_laptop () {
                width: 60%;
            }

            @include responsive.screen_small () {
                width: 80%;
            }
        }

        .btn_roons {
            @include mixins.flexbox(relative, flex, center, center);
            @include mixins.effect_btn();
            width: 15vw;
            margin-top: 3vmax;
            border: 0.1vw solid var.$primary_color;
            cursor: pointer;
            overflow: hidden;

            @include responsive.screen_laptop() {
                width: auto;
            }

            @include responsive.screen_small() {
                margin: 50px 0 0 0;
            }

            a {
                font-family: var.$font_dwo;
                font-size: 1.1vmax;
                font-weight: 500;
                text-transform: uppercase;
                color: var.$primary_color;
                transition: var.$smooth;
                padding: 0.8vmax 1.5vmax;
                text-align: center;
                z-index: 1;

                @include responsive.screen_laptop() {
                    font-size: 20px;
                }

                @include responsive.screen_small() {
                    font-size: 15px;
                }
            }
        }

        .controls_swiper {
            @include mixins.flexbox(relative, flex, center, center);
            margin-top: 7vmax;
            z-index: 2;

            @include responsive.screen_laptop () {
                display: none;
                pointer-events: none;
            }

            button {
                color: var.$black_gray;
                //   padding: 10px 15px;
                background-color: transparent;
                margin: 0 2vmax;
                cursor: pointer;
                border: none;
                pointer-events: all;

                background-color: rgba(255, 0, 0, 0);

                &:nth-child(1) {
                    transform: rotateY(180deg);
                }

                @include responsive.screen_laptop () {
                    color: var.$secondary_color;
                    padding: 0;
                }

                svg {
                    transition: var.$smooth;

                    &:hover {
                        color: var.$primary_color;
                        transform: scale(1.1);
                        transition: var.$smooth;
                    }
                }
            }
        }
    }

    .swiper_container {
        @include mixins.flexbox(relative, flex, center, center);
        width: 60vw;
        height: 110vh;

        @include responsive.screen_laptop () {
            width: 90%;
            font-size: 18px;
        }

        @include responsive.screen_small () {
            height: 100%;
        }

        .swiper {
            width: 100%;
            height: 100%;

            .card_box {
                @include mixins.smoke();
                width: 100%;
                height: 100%;
                cursor: move;
                overflow: hidden;

                @include responsive.screen_small () {
                    height: 700px;
                }

                a {
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 4vmax;
                    text-align: center;
                    font-weight: 400;
                    font-family: var.$font_one;
                    text-transform: uppercase;
                    color: var.$secondary_color;
                    z-index: 2;

                    @include responsive.screen_laptop () {
                        width: 70%;
                        font-size: 50px;
                    }

                    @include responsive.screen_small () {
                        width: 100%;
                        font-size: 75px;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: var.$smooth;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                        transition: var.$smooth;
                        filter: blur(5px);
                    }
                }
            }
        }
    }
}