@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.servicesCard_container {
    @include mixins.flexbox(relative, flex, space-between, center);
    flex-direction: row-reverse;
    width: 90vw;
    height: 100%;
    margin: 5vmax 0;
    overflow: hidden;

    @include responsive.screen_laptop () {
        flex-direction: column !important;
    }

    span {
        position: absolute;
        top: 68%;
        left: 47%;
        color: var.$primary_color;
        opacity: .07;
        font-size: 15vmax;
        pointer-events: none;
        user-select: none;
        font-family: var.$font_one;
        text-transform: capitalize;
        z-index: -2;
    }

    .boxOne {
        @include mixins.flexbox(relative, flex, center, end);
        flex-direction: column;
        width: 40vw;
        height: 100%;
        padding-bottom: 5vmax;

        @include responsive.screen_laptop () {
            width: 100%;
            align-items: center !important;
        }

        h1 {
            width: 100%;
            font-family: var.$font_one;
            text-align: end;
            color: var.$primary_color;
            text-transform: uppercase;

            @include responsive.screen_laptop () {
                text-align: start;
            }
        }

        p {
            text-align: end;
            font-family: var.$font_dwo;
            color: var.$black_gray;
            font-weight: 400;
            line-height: 1.5;
            margin: 2vmax 0 3vmax 0;

            @include responsive.screen_laptop () {
                width: 90%;
                margin: 50px 0 70px 0;
                text-align: start;
            }

            @include responsive.screen_small () {
                margin: 50px 0;
            }
        }
    }

    .boxTwo {
        @include mixins.flexbox(relative, flex, center, center);
        @include mixins.smoke();
        width: 40vw;
        height: 120vh;
        border-radius: 1vmax;
        user-select: none;
        overflow: hidden;

        @include responsive.screen_laptop () {
            width: 100%;
            height: 80vh;
        }

        @include responsive.screen_small () {
            margin: 30px;
        }

        video {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
    }
}

.row_reverse {
    flex-direction: row;

    span {
        left: 0;
    }

    .boxOne {
        @include mixins.flexbox(relative, flex, start, start);

        h1,
        p {
            text-align: start;
        }
    }
}