@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.gallery_container {
    @include mixins.flexbox(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    padding: 0 3vw;

    @include responsive.screen_laptop() {
        margin: 80px 0 150px 0;
    }

    @include responsive.screen_small() {
        margin: 0;
        padding: 0 5vw;
    }

    .box_gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 21.9vmax);
        gap: 1rem;
        margin: 3vmax 0 0 0;

        .item {
            overflow: hidden;
            border-radius: 1vmax;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .destaqueTop {
            grid-column: 1 / 2;
            grid-row: 1 / span 2;
        }

        .destaqueBottom {
            grid-column: 3 / 4;
            grid-row: 3 / span 2;
        }

        @include responsive.screen_small() {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            margin: 70px 0 0 0;

            .item {
                aspect-ratio: 1 / 1;
                height: auto;
            }

            .destaqueTop,
            .destaqueBottom {
                grid-column: 1 / -1;
                grid-row: auto;
                aspect-ratio: 2 / 1;
            }
        }
    }
}