@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.cardTwo_container {
    position: relative;
    width: 100%;
    margin: 10vmax 0;

    .box {
        display: grid;
        gap: 1rem;
        grid-template-columns:
            calc(20vw - 0.5rem) calc(21.5vw - 0.5rem) calc(48vw - 0.5rem);
        grid-template-rows:
            calc(50vh - 0.5rem) calc(50vh - 0.5rem);

        .layer {
            @include mixins.smoke();
            position: relative;
            border-radius: 1vmax;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .cardTwo_1 {
            grid-column: 1 / span 2;
            grid-row: 1;
            height: 100%;
        }

        .cardTwo_2 {
            grid-column: 3;
            grid-row: 1;
            height: 100%;
        }

        .cardTwo_3 {
            grid-column: 1;
            grid-row: 2;
            height: 100%;
        }

        .cardTwo_4 {
            grid-column: 2 / span 2;
            grid-row: 2;
            height: 100%;
        }
    }

    @include responsive.screen_laptop() {
        .box {
            grid-template-columns: calc((100% - 1rem)/2) calc((100% - 1rem)/2);
            grid-template-rows: auto auto;
            gap: 1rem;

            .cardTwo_1 {
                grid-column: 1;
                grid-row: 1;
                height: 45vh;
            }

            .cardTwo_2 {
                grid-column: 2;
                grid-row: 1;
                height: 45vh;
            }

            .cardTwo_3 {
                grid-column: 1;
                grid-row: 2;
                height: 45vh;
            }

            .cardTwo_4 {
                grid-column: 2;
                grid-row: 2;
                height: 45vh;
            }
        }
    }

    @include responsive.screen_small() {
        .box {
            grid-template-columns: 1fr;
            gap: 0.6rem;

            .cardTwo_1,
            .cardTwo_2,
            .cardTwo_3,
            .cardTwo_4 {
                grid-column: 1;
                grid-row: auto;
            }
        }
    }
}