@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.footer_container {
    @include mixins.flexbox(relative, flex, space-between, baseline);
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0 2vw;
    background-color: var.$primary_color;
    overflow: hidden;

    @include responsive.screen_laptop() {
        height: auto;
    }

    .title {
        @include mixins.flexbox(relative, flex, space-between, center);
        width: 100%;

        @include responsive.screen_laptop () {
            justify-content: center;
            padding-top: 20px;
        }

        .logo {
            @include mixins.flexbox(relative, flex, center, center);
            flex-direction: column;

            i {
                font-family: var.$new_icon;
                font-size: 5vmax;
                color: var.$secondary_color;
                font-weight: 400;
                font-style: normal;

                @include responsive.screen_laptop() {
                    font-size: 70px;
                }
            }

            span {
                font-family: var.$font_one;
                font-size: 2vmax;
                color: var.$secondary_color;
                font-weight: 400;
                text-wrap: nowrap;
                text-transform: uppercase;
                cursor: pointer;

                @include responsive.screen_laptop () {
                    display: none;
                }
            }
        }

        .line {
            width: 38%;
            height: 0.1vmax;
            opacity: 0.5;
            background-color: var.$secondary_color;

            @include responsive.screen_laptop () {
                display: none;
            }
        }
    }

    .box {
        @include mixins.flexbox(relative, flex, space-between, baseline);
        width: 100%;
        margin-bottom: 5vmax;

        @include responsive.screen_laptop() {
            flex-direction: column;
            padding: 0 0 60px 0;
            margin: 0;
        }

        .layerOne,
        .layerTwo,
        .layerThere,
        .layerFour {
            height: 100%;
            margin: 0 1vmax;

            @include responsive.screen_laptop() {
                width: 100%;
                margin: 20px 0;
                padding: 0 20px;
            }

            h2 {
                font-family: var.$font_one;
                font-size: 2.5vmax;
                margin: 2vmax 0;
                color: var.$secondary_color;
                font-weight: 600;
                text-transform: uppercase;

                @include responsive.screen_laptop () {
                    font-size: 40px;
                }
            }

            span,
            a {
                display: block;
                font-size: 1.1vmax;
                font-family: var.$font_dwo;
                font-weight: 400;
                color: var.$secondary_color;
                line-height: 1.5;
                margin: 1vmax 0;
                cursor: pointer;

                @include responsive.screen_laptop () {
                    font-size: 17px;
                }

                @include responsive.screen_small () {
                    font-size: 15px;
                    margin: 10px 0;
                }
            }
        }

        .layerOne {

            @include responsive.screen_laptop () {
                display: none;
            }

            .small {
                @include mixins.flexbox(relative, flex, center, center);
                flex-direction: column;
                width: 12vw;
                height: 12vw;
                border: 0.1vw solid var.$secondary_color;
                overflow: hidden;

                @include responsive.screen_laptop () {
                    width: 185px;
                    height: 185px;
                }

                i,
                p {
                    text-align: center;
                    font-style: normal;
                    font-family: var.$font_one;
                    text-transform: uppercase;
                    color: var.$secondary_color;
                }

                i {
                    display: block;
                    font-size: 2.5vmax;

                    @include responsive.screen_laptop () {
                        font-size: 40px;
                    }
                }

                p {
                    font-size: 1.7vmax;

                    @include responsive.screen_laptop () {
                        font-size: 28px;
                    }
                }
            }

            span {
                font-style: italic;
                margin: 1.5vmax 0 0 0;
            }
        }

        .layerFour {

            p {
                width: 25vw;
                font-family: var.$font_dwo;
                color: var.$secondary_color;
                font-weight: 400;
                line-height: 1.5;

                @include responsive.screen_laptop () {
                    width: 90%;
                    font-size: 17px;
                }

                @include responsive.screen_laptop () {
                    margin: 30px 0;
                }
            }

            .social {
                @include mixins.flexbox(relative, flex, start, center);
                margin-top: 2vmax;

                a {
                    @include mixins.flexbox(relative, flex, center, center);
                    margin: 0 1vmax 0 0;
                    width: 3vmax;
                    height: 3vmax;
                    border: 0.1vw solid var.$secondary_color;
                    transition: var.$smooth;

                    @include responsive.screen_laptop () {
                        width: 60px;
                        height: 60px;
                    }

                    i {
                        font-size: 1.5vmax;
                        color: var.$secondary_color;
                        transition: var.$smooth;

                        @include responsive.screen_laptop () {
                            font-size: 20px;
                        }
                    }

                    &:hover {
                        background-color: var.$secondary_color;

                        i {
                            color: var.$primary_color;
                        }
                    }
                }
            }
        }
    }

    .rodape {
        @include mixins.flexbox(relative, flex, space-between, center);
        width: 100%;
        padding: 1vmax 0;
        border-top: 0.1vw solid var.$secondary_color;

        @include responsive.screen_laptop() {
            flex-direction: column-reverse;
            align-items: baseline;
            padding: 20px 0 10px 0;
        }

        a {
            font-size: 0.9vmax;
            font-family: var.$font_dwo;
            font-weight: 400;
            color: var.$secondary_color;
            line-height: 1.5;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;

            @include responsive.screen_laptop() {
                font-size: 15px;
                margin: 12px 0;
            }

            @include responsive.screen_small() {
                font-size: 12px;
                width: 70%;
            }
        }
    }
}