@use '/src/sass/components';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.bar_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    transition: var.$smooth_opacity;
    transform: translateY(-100%); 
    opacity: 0;
    z-index: 99;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .bar {
        @include mixins.flexbox(relative, flex, space-between, center);
        @include mixins.background(5vw);
        width: 100vw;
        padding: 0 3vw;
        background-color: var.$secondary_color;

        @include responsive.screen_laptop() {
            height: 80px;
            padding: 20px;
            justify-content: center;
        }
        
        @include responsive.screen_small() {
            height: 60px;
        }

        li {
            list-style: none;
            font-size: 1vmax;
            text-transform: uppercase;
            font-family: var.$font_dwo;
            font-weight: 600;
            letter-spacing: 2px;
            color: var.$primary_color;
            letter-spacing: 1px;
            font-weight: 500;
            cursor: pointer;
        }

        .box_1 {
            @include mixins.flexbox(relative, flex, space-around, center);
            width: 25vw;
            height: auto;

            @include responsive.screen_laptop() {
                display: none;
            }
        }

        .box_2 {
            @include mixins.flexbox(relative, flex, center, center);
            width: auto;
            height: auto;

            h1 {
                font-family: var.$new_icon;
                font-size: 4vmax;
                color: var.$primary_color;
                font-weight: 400;

                @include responsive.screen_laptop() {
                    font-size: 60px;
                }
            }
        }

        .box_3 {
            @include mixins.flexbox(relative, flex, space-around, center);
            width: 25vw;
            height: auto;

            @include responsive.screen_laptop() {
                width: 100vw;
                justify-content: end;
            }

            .min {
                @include mixins.flexbox(relative, flex, space-around, center);
                width: 15vw;
                height: auto;

                @include responsive.screen_laptop() {
                    display: none;
                }
            }

            .btn_menu_drop {
                @include mixins.flexbox(relative, flex, center, end);
                @include mixins.btn_closer();
                border: none;
            }
        }
    }
}