@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.video_container {
    @include mixins.flexbox(relative, flex, space-between, center);
    width: 100vw;
    height: 110vh;
    padding: 0 5vmax;
    overflow: hidden;

    @include responsive.screen_laptop() {
        flex-direction: column;
        height: auto;
    }

    @include responsive.screen_small() {
        padding: 0;
    }

    .box_video {
        @include mixins.flexbox(relative, flex, center, center);
        width: 50%;
        height: 100%;
        overflow: hidden;

        @include responsive.screen_laptop() {
            width: 90%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            right: 0;
            bottom: 0;
            width: 80%;
            height: 100%;
            transform: translate(-50%, -50%);
            background-color: var.$smoke;

            @include responsive.screen_laptop() {
                width: 100%;
            }
        }

        svg {
            position: absolute;
            width: 10vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var.$secondary_color;
            z-index: 1;
            cursor: pointer;

            @include responsive.screen_small() {
                width: 80px;
            }
        }

        .video_element {
            width: 80%;
            height: 100%;
            object-fit: cover;

            @include responsive.screen_laptop() {
                width: 100%;
                height: 90vh;
            }
        }
    }

    .box_text {
        @include mixins.flexbox(relative, flex, center, center);
        flex-direction: column;
        width: 50%;
        height: 100vh;

        @include responsive.screen_laptop() {
            width: 100%;
        }

        h1 {
            width: 100%;
            margin-bottom: 5vmax;
            font-family: var.$font_one;
            font-weight: 600;
            text-transform: uppercase;
            color: var.$primary_color;
            font-size: 3vmax;

            @include responsive.screen_laptop() {
                width: 90%;
                font-size: 50px;
                margin: 70px 0;
            }

            @include responsive.screen_small() {
                width: 85%;
                font-size: 40px;
            }
        }

        span {
            width: 70%;
            font-family: var.$font_dwo;
            font-weight: 500;
            color: var.$back_gray;
            font-size: 1.5vmax;
            font-style: italic;

            @include responsive.screen_laptop() {
                font-size: 20px;
            }

            @include responsive.screen_laptop() {
                font-size: 18px;
            }
        }

        p {
            width: 70%;
            margin: 2vmax 0;
            font-family: var.$font_dwo;
            font-weight: 400;
            color: var.$back_gray;
            font-size: 1.1vmax;
            line-height: 1.2;

            @include responsive.screen_laptop() {
                font-size: 15px;
                margin: 30px 0;
            }
        }

        .box_detals {
            @include mixins.flexbox(relative, flex, space-around, center);
            width: 70%;
            margin-top: 5vmax;

            @include responsive.screen_laptop() {
                width: 90%;
            }

            i {
                font-size: 1.5vmax;
                font-weight: 600;
                text-transform: uppercase;
                font-family: var.$font_one;
                font-style: normal;

                @include responsive.screen_laptop() {
                    font-size: 30px;
                }

                @include responsive.screen_laptop() {
                    font-size: 18px;
                }
            }
        }
    }
}