@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.categoryStart_container {
    @include mixins.flexbox(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    padding: 0 5vw;
    margin: 0 0 12vmax 0;

    .box {
        @include mixins.flexbox(relative, flex, space-between, start);
        flex-wrap: wrap;
        width: 100%;

        .context {
            @include mixins.flexbox(relative, flex, space-between, start);
            flex-direction: column;
            width: 43vw;
            margin-bottom: 10vmax;
            cursor: pointer;
            overflow: hidden;

            @include responsive.screen_small() {
                align-items: center;
                width: 100%;
                margin: 0 auto;
                padding: 50px 0;
            }

            .layer {
                @include mixins.smoke();
                position: relative;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                animation: pan-x 240s both infinite;
                will-change: transform;
                border-radius: 1vmax;
                width: 100%;
                height: 50vw;
                overflow: hidden;

                @include responsive.screen_small() {
                    height: 60vh;
                }
            }

            h2 {
                width: 100%;
                padding: 0.5vmax 0;
                margin: 2vmax 0;
                border-bottom: 0.1vw solid var.$bar;
                font-size: 3vmax;
                font-weight: 600;
                font-family: var.$font_one;
                text-transform: uppercase;
                color: var.$primary_color;
                z-index: 2;

                @include responsive.screen_laptop () {
                    font-size: 35px;
                }

                @include responsive.screen_small() {
                    font-size: 35px;
                    padding: 10px 0;
                    margin: 30px 0;
                }
            }

            span {
                width: 90%;
                font-family: var.$font_one;
                font-size: 1.5vmax;
                margin: 1.2vmax 0 0 0;
                color: var.$black_gray;
                font-weight: 600;
                word-spacing: 2px;
                text-transform: uppercase;

                @include responsive.screen_laptop () {
                    width: 100%;
                    font-size: 20px;
                    padding: 0 10px;
                }
            }

            ul {
                @include mixins.flexbox(relative, flex, start, center);
                margin: 3vmax 0 4vmax 0;
                flex-wrap: wrap;

                @include responsive.screen_small() {
                    margin: 20px 10px;
                    justify-content: space-evenly;
                }

                li {
                    @include mixins.flexbox(relative, flex, center, center);
                    flex-direction: column;
                    margin: 0 1vmax 0 0;
                    text-align: center;

                    @include responsive.screen_laptop () {
                        margin: 10px;
                    }

                    @include responsive.screen_small() {
                        width: 110px;
                        height: 100px;
                        margin: 0;
                    }

                    &:nth-child(2) {
                        img{
                            animation: girar_right 20s linear infinite;
                        }
                    }

                    i {
                        margin: 0.7vmax 0.5vmax;
                        font-size: 0.9vmax;
                        font-style: normal;
                        color: var.$black_gray;

                        @include responsive.screen_laptop () {
                            font-size: 10px;
                        }

                        @include responsive.screen_small() {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}