@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.about_banner_container{
    @include mixins.flexbox(relative, flex, center, center);
    flex-direction: column;
    width: 100vw;
    height: 200vh;
    background-color: var.$primary_color;

    h1{
        font-size: 3vmax;
        font-family: var.$font_one;
        color: var.$secondary_color;
        text-transform: uppercase;
    }

    span{
        font-size: 2vmax;
        font-family: var.$font_one;
        color: var.$secondary_color;
        text-transform: capitalize;
        font-weight: 600;
    }
}