@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.others_container {
    @include mixins.flexbox(relative, flex, center, center);
    @include mixins.smoke();
    width: 100vw;
    height: 115vh;
    user-select: none;

    .boxOne {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        transform: translate(-50%, -50%);
        z-index: 2;

        @include responsive.screen_laptop() {
            width: 80%;
        }

        span {
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 200;
            font-style: italic;
            font-family: var.$font_dwo;
            text-transform: uppercase;
            font-size: 4vmax;
            color: var.$secondary_color;

            @include responsive.screen_laptop() {
                font-size: 50px;
            }

            @include responsive.screen_laptop () {
                font-size: 40px;
                margin: 7px 0;
            }
        }
    }

    .videoBox {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}