@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.banner_container {
    @include mixins.flexbox(relative, flex, center, center);
    width: 100vw;
    height: 100lvh;
    user-select: none;
    overflow: hidden;

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-button-prev,
        .swiper-button-next {
            top: 2vw;
            width: 45vw;
            height: 100%;
            pointer-events: all;
            opacity: 0;
            z-index: 10;

            @include responsive.screen_small() {
                opacity: 0;
                user-select: none;
                pointer-events: none;
            }
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
            display: none;
        }

        .swiper-pagination-bullet {
            background-color: var.$secondary_color;
        }

        .swiper-pagination {
            position: absolute;
            top: 97%;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 10vmax;
            height: 0.2vmax;
            background-color: var.$bar;
            border-radius: 0.2vmax;
            overflow: hidden;
            z-index: 10;

            @include responsive.screen_small() {
                width: 120px;
                height: 4px;
            }
        }

        .swiper-pagination-progressbar-fill {
            background-color: var.$secondary_color;
            height: 100%;
            transition: width 1s ease;
        }

        .slide_item {
            @include mixins.smoke();
            position: relative;
            width: 100vw;
            height: 100lvh;

            img {
                position: relative;
                width: inherit;
                height: inherit;
                object-fit: cover;
                pointer-events: none;
            }
        }
    }
}