@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.banner_container {
    @include mixins.flexbox(relative, flex, center, center);
    width: 100vw;
    height: 100lvh;
    user-select: none;
    overflow: hidden;

    i {
        position: absolute;
        top: 97%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1vmax;
        height: 2vmax;
        border-radius: 5vmax;
        border: 0.15vmax solid var.$secondary_color;
        opacity: 0.9;
        will-change: transform;
        pointer-events: none;
        z-index: 2;

        @include responsive.screen_laptop() {
            width: 18px;
            height: 40px;
        }

        @include responsive.screen_small() {
            display: none;
        }

        &::after {
            position: absolute;
            content: '';
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0.5vmax;
            height: 0.5vmax;
            border-radius: 50%;
            background-color: var.$secondary_color;
            animation: botton 3s linear infinite;

            @include responsive.screen_laptop() {
                width: 10px;
                height: 10px;
            }
        }
    }

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-button-prev,
        .swiper-button-next {
            top: 2vw;
            width: 45vw;
            height: 100%;
            pointer-events: all;
            opacity: 0;
            z-index: 10;

            @include responsive.screen_small() {
                display: none;
            }
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
            display: none;
        }

        .swiper-pagination-bullet {
            display: none;

            @include responsive.screen_small() {
                display: inline-block;
                background-color: var.$secondary_color;
            }
        }

        .slide_item {
            @include mixins.smoke();
            position: relative;
            width: 100vw;
            height: 100lvh;

            img {
                position: relative;
                width: inherit;
                height: inherit;
                object-fit: cover;
                pointer-events: none;
            }
        }
    }
}