@use '/src/sass/components';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

li {
    list-style: none;
    font-size: 1.2vmax;
    text-transform: uppercase;
    font-family: var.$montserrat;
    color: var.$secondary_color;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
}

.nav_container {
    position: relative;
    width: 100vw;
    height: auto;
    z-index: 99;

    .navbar {
        @include mixins.flexbox(relative, flex, space-between, center);
        width: 100vw;
        height: 8vw;
        padding: 0 3vw;

        @include responsive.screen_laptop() {
            height: auto;
            padding: 20px;
            justify-content: center;
        }

        .box_1 {
            @include mixins.flexbox(relative, flex, space-around, center);
            width: 25vw;
            height: auto;

            @include responsive.screen_laptop() {
                display: none;
            }
        }

        .box_2 {
            @include mixins.flexbox(relative, flex, center, center);
            flex-direction: column;
            transform: translateY(10vmax);
            width: auto;
            height: auto;

            @include responsive.screen_laptop() {
                position: absolute;
                transform: translateY(15vmax);
            }

            @include responsive.screen_small() {
                transform: translateY(20vmax);
            }

            h1 {
                font-family: var.$new_icon;
                font-size: 7vmax;
                color: var.$secondary_color;
                font-weight: 400;

                @include responsive.screen_laptop() {
                    font-size: 80px;
                }
            }

            span {
                font-size: 1.4vmax;
                text-transform: uppercase;
                font-family: var.$montserrat;
                color: var.$secondary_color;
                letter-spacing: 1px;
                font-weight: 500;
                transform: scaleY(1.2);

                @include responsive.screen_laptop() {
                    font-size: 20px;
                }

                @include responsive.screen_small() {
                    font-size: 15px;
                }
            }

            p {
                margin-top: 1vh;
                font-size: 1.1vmax;
                text-transform: uppercase;
                font-family: var.$montserrat;
                color: var.$secondary_color;
                letter-spacing: 1px;
                font-weight: 300;

                @include responsive.screen_laptop() {
                    font-size: 15px;
                }

                @include responsive.screen_small() {
                    font-size: 12px;
                }
            }
        }

        .box_3 {
            @include mixins.flexbox(relative, flex, space-around, center);
            width: 25vw;
            height: auto;

            @include responsive.screen_laptop() {
                width: 100vw;
                justify-content: end;
            }

            .min {
                @include mixins.flexbox(relative, flex, space-around, center);
                width: 15vw;
                height: auto;

                @include responsive.screen_laptop() {
                    display: none;
                }
            }

            .btn_menu_drop {
                @include mixins.flexbox(relative, flex, center, end);
                flex-direction: column;
                width: 4vmax;
                height: 4vmax;
                background-color: var.$secondary_color;
                border-radius: 50%;
                padding: 0.2vmax;
                cursor: pointer;
                z-index: 999;

                @include responsive.screen_laptop() {
                    width: 70px;
                    height: 70px;
                }

                @include responsive.screen_small() {
                    width: 60px;
                    height: 60px;
                    padding: 10px;
                }

                span {
                    position: relative;
                    width: 90%;
                    height: 0.2vw;
                    margin: 0.3vmax;
                    transition: var.$smooth;
                    border-radius: 10px;
                    background-color: var.$primary_color;

                    &:nth-child(1) {
                        width: 50%;
                    }

                    &:nth-child(3) {
                        width: 60%;
                    }

                    @include responsive.screen_laptop() {
                        height: 3px;
                    }
                }

                &:hover span {
                    width: 90%;
                    transition: var.$smooth;
                }

                .open {
                    &:nth-child(1) {
                        transform: rotate(45deg) translate(0.55vmax, 0.55vmax);
                        width: 60%;
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg) translate(0.55vmax, -0.55vmax);
                        width: 60%;
                    }
                }
            }
        }

        .menu_drop {
            @include mixins.flexbox(absolute, flex, center, center);
            flex-direction: column;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100dvh;
            transform: translateY(-100vh);
            background-color: var.$secondary_color;
            transition: var.$smooth_cubic;
            opacity: 0;
            z-index: 99;

            &.open {
                transform: translateY(0vh);
                transition: var.$smooth_cubic;
                opacity: 1;
            }

            ul {
                @include mixins.flexbox(relative, flex, center, baseline);
                flex-direction: column;
                width: 90vw;
                height: 90vh;
                overflow: hidden;

                @include responsive.screen_laptop() {
                    height: 80vh;
                    justify-content: normal;
                }

                @include responsive.screen_small() {
                    padding-top: 70px;
                }

                .box_li {
                    @include mixins.flexbox(relative, flex, space-between, center);
                    width: inherit;
                    height: auto;

                    li {
                        position: relative;
                        width: inherit;
                        height: auto;
                        font-size: 4vmax;
                        margin: 1vh 0;
                        font-family: var.$montserrat;
                        font-weight: 400;
                        color: var.$primary_color;
                        transition: var.$smooth;

                        @include responsive.screen_laptop() {
                            margin: 8px 0;
                        }

                        @include responsive.screen_small() {
                            font-size: 35px;
                        }

                        &:hover {
                            padding: 0 5vw;
                            transition: var.$smooth;
                        }

                        &::after {
                            position: absolute;
                            content: '';
                            top: 50%;
                            left: -3%;
                            transform: translate(-50%, -50%);
                            background-color: var.$primary_color;
                            border-radius: 50px;
                            width: 5vmax;
                            height: 0.8vmax;
                            transition: var.$smooth;

                            @include responsive.screen_small() {
                                display: none;
                            }
                        }

                        &:hover::after {
                            left: 2%;
                            transition: var.$smooth;
                        }
                    }

                    img {
                        position: absolute;
                        top: -5vmax;
                        left: 55%;
                        width: 30%;
                        height: auto;
                        opacity: 0;
                        transform: scale(0.5);
                        pointer-events: none;
                        border-radius: 1vmax;

                        @include responsive.screen_laptop() {
                            display: none;
                        }
                    }
                }
            }

            .social {
                @include mixins.flexbox(relative, flex, space-between, center);
                width: 90vw;
                height: auto;

                @include responsive.screen_laptop() {
                    justify-content: normal;
                    flex-direction: column;
                    align-items: baseline;
                }

                span {
                    color: var.$primary_color;
                    text-transform: uppercase;
                    font-size: 1vmax;
                    font-family: var.$montserrat;
                    cursor: pointer;

                    @include responsive.screen_laptop() {
                        font-size: 13px;
                        margin: 4px 0;
                    }
                }
            }
        }
    }
}