@use '/src/sass/animate';
@use '/src/sass/mixins';
@use '/src/sass/responsive';
@use '/src/sass/variables' as var;

.experince_container {
    @include mixins.flexbox(relative, flex, space-between, center);
    @include mixins.letter_large(1%, 'experiências');
    width: 100vw;
    height: 110lvh;
    margin-top: 20vmax;
    overflow: hidden;

    @include responsive.screen_laptop {
        flex-direction: column;
        margin: 50px 0;
        padding: 0 5vmax;
        height: auto;
    }

    @include responsive.screen_small () {
        padding: 0 20px;
    }

    .box_1 {
        @include mixins.flexbox(relative, flex, baseline, stretch);
        flex-direction: column;
        width: 45%;
        height: inherit;
        padding: 0 2vmax 0 10vmax;

        @include responsive.screen_laptop {
            width: 90%;
            height: auto;
            padding: 0;
        }

        h1 {
            position: relative;
            width: initial;
            margin: 6vmax 0 0 0;
            font-size: 4vmax;
            font-family: var.$font_one;
            text-transform: uppercase;
            color: var.$primary_color;

            @include responsive.screen_laptop () {
                font-size: 50px;
            }

            @include responsive.screen_small () {
                font-size: 40px;
            }
        }

        p {
            width: 70%;
            margin: 3vmax 0 3vmax 2vmax;
            font-size: 1.2vmax;
            font-family: var.$font_dwo;
            color: var.$black_gray;
            font-weight: 400;
            font-style: italic;

            @include responsive.screen_laptop () {
                margin: 40px 0 60px 0;
                width: 100%;
                font-size: 18px;
            }

            @include responsive.screen_small () {
                font-size: 15px;
            }
        }

        .cat_experince {
            @include mixins.flexbox(relative, flex, space-around, stretch);
            flex-direction: column;

            span {
                position: relative;
                margin: 0.6vmax 0;
                padding: 0.5vmax 0;
                font-size: 1.3vmax;
                font-family: var.$font_dwo;
                color: var.$black_gray;
                transition: var.$smooth;
                text-transform: uppercase;
                font-weight: 400;
                cursor: pointer;

                @include responsive.screen_laptop () {
                    font-size: 20px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 80%;
                    left: 0;
                    width: 0;
                    height: 0.2vw;
                    background-color: var.$primary_color;
                    transition: var.$smooth;
                    pointer-events: none;
                    z-index: -1;
                }

                &:hover::after {
                    width: 100%;
                    transition: var.$smooth;
                }

                &:hover {
                    font-weight: bold;
                    transition: var.$smooth;
                }
            }
        }

        /*
        .svg {
            position: relative;
            user-select: none;

            @include responsive.screen_laptop {
                display: none !important;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: -10vmax;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 0.1vw;
                background-color: var.$primary_color;
            }

            svg {
                animation: girar_right 15s linear infinite;
                will-change: transform;
                color: var.$primary_color;
                pointer-events: none;

                textPath {
                    font-size: 2.1vmax;
                    font-weight: bold;
                    text-transform: uppercase;
                    word-spacing: 7px;
                    font-family: var.$font_one;

                    @include responsive.screen_large {
                        font-size: 25px;
                    }
                }
            }
        }*/
    }

    .box_2 {
        @include mixins.smoke();
        position: relative;
        width: 55%;
        height: 100%;
        user-select: none;
        overflow: hidden;
        background-color: var.$secondary_color;

        @include responsive.screen_laptop {
            width: 90%;
            height: 60vh;
            margin: 70px 0;
        }

        @include responsive.screen_small () {
            width: 100%;
            height: 450px;
        }

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .description {
            @include mixins.flexbox(absolute, flex, end, end);
            top: 13%;
            left: 0;
            width: 100%;
            z-index: 3;
            padding: 0 4vmax;

            p {
                width: 50%;
                text-align: end;
                font-size: 1.3vmax;
                font-family: var.$font_dwo;
                color: var.$secondary_color;
                text-transform: uppercase;
                font-weight: 400;
                font-style: italic;

                @include responsive.screen_small () {
                    width: 90%;
                    font-size: 12px;
                }
            }
        }
    }
}