@use '/src/sass/variables' as var;
@use '/src/sass/responsive';

#cursor {
    position: fixed;
    display: grid;
    place-content: center;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: transparent;
    border: 0.1vw solid var.$primary_color;
    pointer-events: none;
    transform: translate(-5em);
    z-index: 9999;

    @include responsive.screen_tablet {
        display: none;
    }

    &.colorBottom {
        border: 0.1vw solid var.$secondary_color;
    }
}